html,body{
	width:100%;
	height:100%;
}
.index{
	width:100%;
	position: relative;
	background:#fff;
	/*径向渐变*/
	/*background: -webkit-radial-gradient(circle, #eeeeee, #dddddd, #cccccc); !* Safari 5.1 - 6.0 *!*/
	/*background: -o-radial-gradient(circle,#eeeeee, #dddddd, #cccccc); !* Opera 11.6 - 12.0 *!*/
	/*background: -moz-radial-gradient(circle, #eeeeee, #dddddd, #cccccc); !* Firefox 3.6 - 15 *!*/
	/*background: radial-gradient(circle, #eeeeee, #dddddd, #cccccc); !* 标准的语法 *!*/
}
.cont{
	width:400px;
	min-height:600px;
	position: relative;
	margin-left:-200px;
	left:50%;
	top:0;
	font-size: 24px;
	color:#ccc;
	user-select:none;
	-webkit-transition:color 1s ease;
	-moz-transition:color 1s ease;
	-o-transition:color 1s ease;
	transition:color 1s ease;
}
.cont h4{
	font-weight: normal;
	cursor:pointer;
	font-size: 16px;
	text-align: center;
	-webkit-transition:color 1s ease;
	-moz-transition:color 1s ease;
	-o-transition:color 1s ease;
	transition:color 1s ease;
}
.cont:hover h4{
	color:rgba(0,0,0,.8);
}
.index>a{
	position: absolute;
	bottom:20px;
	right:40px;
	font-size: 16px;
	color:#ccc;
}
.index>a:hover{
	animation: colorfirst 10s ease;
}
@keyframes colorfirst{
	0% {color:#ccc;}
	15% {color:red;}
	30% {color:blue;}
	45% {color:yellow;}
	60% {color:green;}
	75% {color:#000;}
	90% {color:#ccc;}
}
.resume{
	padding-top:20px;
}
.resume>h3{
	color:#666;
	font-size: 22px;
	font-weight: normal;
	text-indent:2em;
}
.resume>a{
	display: block;
	width:80px;
	height:30px;
	line-height: 30px;
	font-size: 20px;
	margin-left: 5em;
	margin-top:10px;
}
.resume>a:hover{
	color:blue;
	border-color: blue;
}
.resume .download{
	margin-left:4em;
	margin-top:10px;
}
.resume .download a{
	font-size: 20px;
	font-weight: normal;
}
.resume .download a:hover{
	color:green;
}