/*公用样式*/
@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
	margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
button{outline:none;}
input,select,textarea{outline:none;border: none;background: none;}
textarea{resize:none;}
a{text-decoration:none;color: #656565;}
.clear{clear:both;}
/*title*/
body{
	background-color: #444;
}
.height300{
	height:300px;
}
.height200{
	height:200px;
}
.height160{
	height:160px;
}
.fontcolor{
	font-family: "黑体";
	color:#555;
}
.myresume{
	margin:0 auto;
	width: 800px;
	background-color: #fff;
}
.title{
	width: 800px;
}
.myresume .title h3{
	padding:70px 0 70px 0;
	text-align: center;
	font-size: 28px;
	font-family: "微软雅黑";
}
.message{
	width: 680px;
	background-color: #eee;
	margin:0 auto;
	height: 185px;
}
.message img{
	width:130px;
	height:185px;
	float: left;
}
.message .myimgright{
	float: left;
	margin-left: 40px;
}
.myimgright p{
	margin-top:30px;
}
.myimgright .name{
	font-weight: bold;
	font-size: 22px;
	margin-top:20px;
}
.myimgright .sex{
	font-size: 16px;
	margin-left: 20px;
}
.myimgright .Ptwo{
	font-size:16px;
	margin-left: 10px; 
}
.myimgright .spanone{
	font-size:16px;
	margin-left: 10px;
}
.myimgright .spantwo{
	font-size: 16px;
	margin-left:40px;
}
.mydata{
	margin:70px 0 0 60px;
}
.fontbold{
	font:bold 18px "微软雅黑";
}
.mydata ul{
	float: left;
	margin-top:20px;
}
.mydata li{
	margin-top:15px;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-right:20px;
}
.mydataone{
	margin-left: 100px;
}
.PersonalSkills{
	margin:50px 0 0px 60px;
}
.PersonalSkills p{
	margin-bottom: 30px;
}
.PersonalSkills ul li{
	list-style-type: decimal-leading-zero;
	margin:15px 0 0 50px;
	font:normal 16px "微软雅黑";
}
.job{
	width: 680px;
	margin:70px 0 0px 60px;
}
.job p{
	margin-bottom: 20px;
}
.workname{
	background-color: #ddd;
	border-left: 3px solid rgb(255,165,0);
	font-size: 14px;
	font-weight: bold;
	padding:3px 0 3px 0;
}
.workname span{
	margin:0 50px 0 20px;
}
.job ul{
	float: left;
	font-size: 16px;
	font-family: "微软雅黑";
	margin-left: 30px;
}
.job ul li{
	margin-bottom: 15px;
}
.width500{
	width: 500px;
}
.school{
	margin:50px 0 0 60px;
}
.school .schoolname{
	font:bold 16px "微软雅黑";
	margin:20px 0 20px 0;
}
.school p{
	margin-top: 10px;
}
.school span{
	font:normal 16px "微软雅黑";
	margin: 0px 80px 0 0;
}
.Myproject{
	width: 680px;
	margin:70px 0 10px 60px;
}
.Myproject p{
	margin-top: 30px;
}
.Myproject ul{
	float: left;
	font-size: 16px;
	font-family: "微软雅黑";
	margin: 20px 0 0 30px;
}
.Myproject ul li{
	margin-bottom: 20px;
}
.Myproject .height160 p{
	margin-top: 10px;
}
.Myproject .list{
	margin-top: 0;
}
.Myproject .list li{
	list-style-type: decimal;
}
.intention{
	margin:70px 0 0 60px;
}
.intention ul{
	float: left;
	font:normal 16px "微软雅黑";
	margin:15px 40px 0 20px;
}
.intention ul li{
	margin-top: 15px;
}
.Evaluate{
	margin:70px 0 0 60px;
}
.Evaluate ul{
	margin-top: 50px;
}
.Evaluate ul li{
	list-style-type: decimal;
	margin:15px 0 0 50px;
	font:normal 16px "微软雅黑";
}