/*公用样式*/
@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{
	margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
button{outline:none;}
input,select,textarea{outline:none;border: none;background: none;}
textarea{resize:none;}
a{text-decoration:none;color: #656565;}
/*title*/
body{
	background-color: #ddd;
}
.title{
	width: 100%;
	min-width: 1000px;
}
.title h3{
	margin:70px 0 70px 0;
	text-align: center;
	font-size: 28px;
	font-family: "微软雅黑";
}
.nav{
	
}
.myresume{
	margin:0 auto;
	width: 1000px;
}